body {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
}

@font-face {
    font-family: CodeLight;
    src: url(Fonts/Code-Light.woff);
}

@font-face {
    font-family: CodeBold;
    src: url(Fonts/Code-Bold.woff);
}

h2 {
    font-family: CodeLight, sans-serif;
}

.product-bg-1 {
    background-image: url(Images/lady-1.png);
   
}
.product-bg-2 {
    background-image: url(Images/lady-2.png);
   
}
.product-bg-3 {
    background-image: url(Images/lady-3.png);
 
}

.product-bg-4 {
    background-image: url(Images/lady-4.png);
   
}
   
.product-bg-5 {
    background-image: url(Images/lady-5.png);

}
   
.product-bg-6 {
    background-image: url(Images/lady-6.png);
    
}
   
.product-bg-7 {
    background-image: url(Images/lady-7.png);
    
}
   
.product-bg-8 {
    background-image: url(Images/lady-8.png);

}
   
.product-bg-9 {
    background-image: url(Images/lady-9.png);
 
}
   
.product-bg-10 {
    background-image: url(Images/lady-10.png);
    
}
.homepage-slider-wrap {
    background-image: url(Images/background.png);
}

.header-top-area a {
    color: #564060;
    display: inline-block;
    padding: 15px;
}

.header-top-area {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-left ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.header-left li {
    display: inline-block;
    padding: 22px;
}

.header-top-area a.menu-trigger {
    display: none;
}

.header-right {
    text-align: right;
}

.search-trigger i.fa {
    padding-left: 10px;
}

.homepage-slider-wrap {
    background-color: #e5d4cf;
    background-size: cover;
    background-position: center;
    height: 100%;
}

html, body {
    height: 100%;
}

.single-slide-item {
    position: relative;
}

.single-slide-item img {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    bottom: 0;
}

.slide-text-table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
}

.homepage-slider-wrap div {
    height: 100%;
}

.slide-text-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15%;
    font-family: CodeLight, sans-serif;
    color: #e55288;
    line-height: 101px;
    font-size: 120px;
}

.slide-text-tablecell strong {
    font-family: CodeBold, sans-serif;
    font-weight: normal;
}

.slide-alternative-color {
    color: #6fb0c5;
}

.big-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.big-menu li {
    float: left;
    width: 30%;
    font-size: 50px;
    font-family: 'CodeLight';
    transition: .2s;

}

.bg-menu li:hover {
    opacity: 0.5;
}

.big-menu li a {
    color: #5b4060;
    text-decoration: none;
    display: block;
    padding: 30px;
    text-align: right;
   
}

.big-menu li:nth-child(2) a {
    font-family: 'CodeBold', sans-serif;
    color: #e55288;
    padding-top: 170px;
}

.big-menu li:nth-child(2) {
    background-color: #f0e5e5;
}

.big-menu li:nth-child(3) {
    background-color: #f6f3e6;
}

.big-menu li:nth-child(3) a {
    font-family: 'CodeLight', sans-serif;
    padding-top: 170px;
}

.big-menu li:nth-child(4) {
    background-color: #ecf4f5;
}

.big-menu li:nth-child(4) a {
    font-family: 'CodeLight', sans-serif;
    padding-top: 170px;
}

.big-menu li:nth-child(1) a {
    font-family: 'CodeLight', sans-serif;
    padding-top: 170px;
}

.big-menu li:nth-child(1) {
    background-color: #ecf4f5;
    
}

.big-menu li:nth-child(2), .big-menu li:nth-child(3) {
    width: 20%;
}

.products-area {
    padding-top: 100px;
}

.single-product-item {
    height: 300px;
    background-position: center;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 18%;
    float:left;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #f7f5f4;
}

.product-list {
    margin-left: -2%;
    overflow:hidden;
}

.single-product-item:nth-child(2) {
    height: 620px;
    width: 78%;
    background-color: #f3eceb;
}

.single-product-item:nth-child(3) {
    background-color: #f3f6f6;
}

.single-product-item:nth-child(4) {
    width: 56%;
}

.single-product-item:nth-child(9) {
    width: 38%;
}



.product-top-links a {
    color: #beb5c1;
    display: inline-block;
    padding:  5px;
}

.product-top-links {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
}

.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: .3s;
}
.product-hover:hover {
    background: blue;
    opacity: 0.5 !important;
}

.product-hover::after {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    content: "";
    opacity: 0.7;
    background: #6d60c6;
}

.product-hover > a {
    left: 50%;
    position: absolute;
    top: 50%;
    color: #fff;
    border: 2px solid;
    padding: 6px 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    width: 90px;
    text-align: center;
    line-height: 25px;
    margin-left: -45px;
    transition: .3s;
    margin-top: -70px;
}

.product-bottom-info {
    padding-top: 5px;
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
}

.product-bottom-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.product-bottom-info span.product-price {
    color: #e65288;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    font-weight: 700;
    bottom: 0;
}

.product-color-box span {
    border: 1px solid #d9d4da;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.color-sep {
    display: inline-block;
    height: 100%;
    width: 1px;
    background: #908a91;
}

.product-color-box {
    border-left: 1px solid #908a91;
    padding-left: 10px;
    line-height: 1px;
}

.product-color-box span.product-color-red {
    background-color: red;
    border-color: red;
}

.product-color-box span.product-color-green {
    background: #9be4e6;
    border-color: #9be4e6;
}

.single-product-item:hover .product-hover {
    opacity: 1;
}

.single-product-item:hover .product-hover>a {
    margin-top: -38px;
}

.single-product-item:hover .product-top-links {
    z-index: 99;
    position: relative;
}

.single-product-item:hover .product-top-links a {
    color: #fff;
}

.load-more-product-btn {
    background: #f9f9f8 none repeat scroll 0 0;
    color: #e65288;
    display: block;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 70px;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
}

.product-promotions {
    background: #f8f5f5;
}

.promo-bg {
    background-color: #f4f0f0;
}

.promo-content {
    line-height: 2;
    padding: 60px 70px 50px 40px;
}

.promo-title {
    position: relative;
    color: #e65288;
}

.promo-title h2 {
    font-size: 36px;
    margin: 0 0 5px;
}

.promo-title h2 strong {
    font-family: 'CodeBold';
    font-weight: normal;
}

.promo-title span.year-text {
    position: absolute;
    color: #55abc6;
    left: 42%;
    font-size: 76px;
    opacity: 0.2;
    top: -17px;
}

.boxed-btn {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    background: #55abc6;
    padding: 5px 27px;
    margin-top: 7px;
}

.brand-images {
    margin-top: 100px;
}

.footer-area {
    margin-top: 50px;
    background-color: #f4f4f4;
    padding: 50px 0;
}

.footer-area .footer-area a {
    background-color: #919191;
}

.footer-area.footer-area a {
    color: #919191;
    text-decoration: none;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    font-weight:700;  
    margin-bottom: 10px;
}

.footer-menu li {
    display: inline-block;
    padding-left: 36px;
}

.social-links a {
    display: inline-block;
    /* text-align: right; */
    right: 0%;
    font-size: 126%;
    padding-left: 10px;
}

.social-links {
    padding-left: 331px;
    margin-bottom: 10px;
}

.email-subscribe-form input[type="email"] {
    background: #fff;
    border: 1px solid #DDD;
    padding: 10px 20px;
    min-width: 285px;
}

input[type="submit"] {
    background: #e55288;
    color: #FFF;
    border: none;
    padding: 11px 20px;
    font-weight:  700;
}

.footer-menu {
    margin-top: 10px;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
    color: #5b4060;
    line-height: 40px;
    margin-top: -20px;
    transition: all 0.3s ease 0s;
    opacity:0;
}

button.owl-next {
    left: auto;
    right:5%;
}

.homepage-slider-wrap:hover .owl-nav {
    left:5%;
    opacity:1;
}

.owl-nav.owl-next {
    left: auto;
}

button.owl-next {
    position: absolute;
    left: 1330px;
}

.product-promotions {
    overflow: hidden;
}

.owl-dots {
    height: 15px;
    width: 15px;
    margin-bottom: 10px;
    border-radius: 50%;
}


button.owl-dot {
    background: gray;
}

.owl-dots {
    position: absolute;
    right: 28px;
    top: 45%;
}

